<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
  </head>

  <body>
    <div id="wrap">
      <a href="{% url 'main:main' %}">
        <div id="title_wrap">
          <div id="title">pit-a-pat</div>
          <div id="subtitle">: 온라인 롤링페이퍼</div>
        </div>
      </a>
      <form method="post">
        {% csrf_token %}
        <div id="input_wrap">
          <div class="user_div">
            <input type='text' class="user_input" id='user_name' name='user_name' placeholder="이름을 입력하세요.">
          </div>
          <div class="user_div">
            <input type='email' class="user_input" id='email' name='email' placeholder="이메일을 입력하세요.">
          </div>
          <div class="check_div">이미 등록된 이메일입니다.</div>
          <!-- 중복검사 예시-->
          <div class="user_div">
            <input type='tel' class="user_input" id='tel' name='tel' placeholder="전화번호를 입력하세요. (숫자만)">
          </div>
          <div class="check_div">이미 등록된 전화번호입니다.</div>
          <!-- 중복검사 예시-->
          <div class="user_div">
            <input type='text' class="user_input" id='user_id' name='user_id' placeholder="아이디를 입력하세요.">
          </div>
          <div class="check_div">이미 사용중인 아이디입니다.</div>
          <!-- 중복검사 예시-->
          <div class="user_div">
            <input type='text' class="user_input" id='nickname' name='nickname' placeholder="닉네임을 입력하세요.">
          </div>
          <div class="check_div">이미 사용중인 닉네임입니다.</div>
          <!-- 중복검사 예시-->
          <div class="user_div">
            <input type='password' class="user_input" id='user_pwd' name='user_pwd' placeholder="비밀번호를 입력하세요.">
          </div>
          <div class="user_div">
            <input type='password' class="user_input" id='user_pwd' name='check_pwd' placeholder="비밀번호 확인을 입력하세요.">
          </div>
          <div id="btn_wrap">
            <button type="submit" class="btn">완료</button>
          </div>
        </div>
      </form>
    </div>
  </body>

</html>