<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% if owner == request.user.username %}
      <form action="{% url 'papers:editPaper' paper_number %}" method="post">
        {% csrf_token %}
        <input type="text" name="subject" value="{{ subject }}" placeholder="제목">
        <button type="submit">제목 변경</button>
      </form>

      <br>

      <form action="{% url 'papers:deletePaper' paper_number %}" method="post">
        {% csrf_token %}
        <button type="submit">롤링페이퍼 삭제</button>
      </form>

      <br>
      <hr>
      <br>
    {% endif %}

    <p style="color: red;">{{ err_msg }}</p>

    <form action="{% url 'message:createMessage' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="paper_uid" value="{{ paper_number }}">
      <input type="text" name="content" value="">
      <button type="submit">메세지 추가</button>
    </form>

    <br>
    <hr style="border: solid 1px black;">

    {% for i in messages %}
      {% if user.is_active and request.user.username == i.nickname or request.user.username == owner %}
        <form action="{% url 'message:deleteMessage' i.message_number %}" method="post">
          {% csrf_token %}
          <button type="submit">메세지 삭제</button>
        </form>
      {% endif %}

      {% if user.is_active and request.user.username == i.nickname %}
        <br>
        <form action="{% url 'message:editMessage' i.message_number %}" method="post">
          {% csrf_token %}
          <input type="text" name="content" value="{{ i.content }}">
          <button type="submit">메세지 수정</button>
        </form>

        <br>
      {% else %}
        <div style="border: solid 1px black">
          작성자 :
          {{ i.nickname }}
          <hr>
          내용 :
          <br>
          {{ i.content }}
        </div>
      {% endif %}
      <br>
      <hr>
    {% endfor %}
  </body>

</html>
