<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <p>uid =
      {{ uid }}</p>

    <p style="color: red">{{ err_msg }}</p>
    <form action="{% url 'message:editMessage' 1 %}" method="post">
      {% csrf_token %}
      <input type="text" ,="," name="content" value="">
      <button type="submit">전송</button>
    </form>
    {% if user.is_active %}
      <p>로그인중!</p>
    {% else %}
      <p>낫 로그인!</p>
    {% endif %}
  </body>

</html>