<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <form action="{% url 'papers:deletePaper' paper_number %}" method="post">
      {% csrf_token %}
      <button type="submit">롤링페이퍼 삭제</button>
    </form>

    <br>

    <form action="{% url 'message:createMessage' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="paper_uid" ,="," value="1">
      <input type="text" ,="," name="content" value="">
      <button type="submit">메세지 추가</button>
    </form>

    <br>
    <hr style="border: solid 1px black;">

    {% for i in messages %}
      <form action="{% url 'message:editMessage' i.message_number %}" method="post">
        {% csrf_token %}
        <input type="text" ,="," name="content" value="{{ i.content }}">
        <button type="submit">message_number가
          {{ i.message_number }}인 메세지 수정</button>
      </form>

      <br>

      <form action="{% url 'message:deleteMessage' i.message_number %}" method="post">
        {% csrf_token %}
        <button type="submit">message_number가
          {{ i.message_number }}인 메세지 삭제</button>
      </form>

      <br>
      <hr>
    {% endfor %}
  </body>

</html>
