<!DOCTYPE html>
{% load static %}
<html lang="ko">

  <head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pit-a-pat: 온라인 롤링페이퍼</title>
  </head>

  <body>
    <header>
      <div id="title_wrap">
        <div id="title">pit-a-pat</div>
        <div id="subtitle">: 온라인 롤링페이퍼</div>
      </div>
      <button type="button" id="mypage_btn">
        <img src="static/img/mypage.png">
      </button>
    </header>

    <div id="content_wrap">
      <div id="first_content">
        특별한 사람에게 마음을 전해보세요.
        <div>
          {% if user.is_active %}
            <form method="post" action="{% url 'papers:createPaper' %}">
              {% csrf_token %}
              <button type="submit" id="create_paper_btn">롤링페이퍼 만들기</button>
            </form>
          {% else %}
            <button type="button" id="create_paper_btn" onclick="location.href='{% url 'users:login_view' %}'">롤링페이퍼 만들기</button>
          {% endif %}
        </div>
      </div>
      <!-- 롤링페이퍼 목록 예시-->
      <div id="second_content">
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">2023년에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">올해를 마무리하며며며며며</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
        <div class="rolling_paper">
          <div class="rolling_paper_subject">홍길동에게</div>
        </div>
      </div>
      <!-- 롤링페이퍼 목록 예시-->
    </div>
  </div>

  <footer>
    <div id="footer_content_wrap">
      <div id="first_footer_content">연세대학교 미래캠퍼스</div>
      <div id="second_footer_content">Web Programming courses</div>
      <br><br>
      <div id="third_footer_content">노영선(팀장), 김준수, 김선경, 이동현, 정영훈
        <br>
        dudtjs303@yonsei.ac.kr
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>
